[
 {irc, [
        {udp_port, 8081},
        {irc_workers, [{name, {local, irc_workers}},
                       {worker_module, irc_worker},
                       {size, 25},
                       {max_overflow, 50}]}
       ]},

 {lager, [{log_root, "log/"},
          {handlers, [{lager_console_backend, [{level, info}]},
                      {lager_file_backend, [{file, "error.log"}, {level, error}]},
                      {lager_file_backend, [{file, "console.log"}, {level, info}]}
                     ]}
         ]}
].
